* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	height: 1200px;
	font-size: 18px;
	font-family: sans-serif;
	color: #5D6063;
}

a{
	color: #5D6063;
	text-decoration: none;
	text-align: center;
}


.header {
	position: fixed;
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 20px;
	background: #D6E9FE;
}

.menu {
	margin: 5px
}

.menu > li {
  /* passer les liste de block a ligne*/
	display: inline;
	margin-right: 50px;
}

.menu > li:last-of-type {
	margin-right:0;
}

.dropdown {
  /*permet a .features-menu de se positioner*/
	position: relative;
}
.dropdown > span{
  /*placer le span en avant de .features*/
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.dropdown:hover .features-menu{
  /* changer la direction d'affichage de display */
	display: flex; 
	flex-direction: column;
	background: #B2D6FF;
	border-radius: 5px;
	padding-top: 60px;

  /* posionte relative au parent (dropdown)*/
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 1;

}


.features-menu {
	display: none;
}

.features-menu li{
	list-style-position: outside;
	list-style-type: none;
	list-style: none;
	border-bottom: 2px solid #FFF;
	padding: 10px 40px 10px 50px;
	width: 100%;
}
.features-menu li:hover {
	background-color: #D6E9FE;
}

.features-menu li:last-of-type {
	border-bottom: none;
}